form {
  mat-dialog-content {
    mat-form-field {
      display: block;
      margin-bottom: 0.75rem;
      width: 100%;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    .erro {
      color: #b3261e;
    }
  }

  mat-dialog-actions {
    button {
      mat-spinner {
        display: inline-block;
      }
    }
  }
}
