mat-card {
  display: flex;
  flex-direction: column;
  height: 100%;

  mat-card-content {
    flex: 1;
    padding-top: 1rem;

    .rotulo {
      color: #5f6368;
      font-size: 0.875rem;
    }

    strong {
      display: block;
      font-size: 1.55rem;
      margin-block: 0.15rem 1rem;
    }

    .rodape-card {
      dl {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin: 0;

        div {
          dt {
            color: #5f6368;
            font-size: 0.875rem;
            margin-bottom: 0.25rem;
          }

          dd {
            margin: 0;

            mat-chip {
              &.atrasada {
                --mdc-chip-elevated-container-color: #fee9e7;
                --mdc-chip-label-text-color: #8c1d18;
              }
            }
          }
        }
      }

      ::ng-deep .mat-mdc-card-actions {
        padding: 0 !important;
      }
    }
  }
}
